.items{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item{
  display: flex;
}

.input{
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 18px 15px;
  background-color: transparent;
  border: 2px solid rgb(53, 53, 53);
}
.input:last-child{
  border-left: 0;
}

.title{
  font-size: 32px;
  align-self: flex-start;
}